.mainbody{
    background-image: url(/Photo/hypersonic2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.bcenter3{
	color: red;
  margin-left: 20px;
}
.bcenter4{
	color: red;
}
h1,h2,h3,h4,label{
    color: red;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table,th,td{
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    border-radius: 10px;
}
caption{
    color: red;
    font-weight: 800;
    font-size: xx-large;
}
#td2{
        font-size: xx-large;
        color: red;
        font-style: italic;
        font-weight: 1000;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 40px;
}
#td1{
    padding-top: 20px;
        padding-bottom: 20px;
}
#td3{
    color: red;
    font-size: xx-large;
    font-weight: 1000;
    background-color: aquamarine;
    padding-top: 50px;
    padding-bottom: 50px;
}
#td4{
    color: red;
    font-size: xx-large;
}

button.java{
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  background-color: lightgreen;
  font-weight: 700;
}
img.logo1{
  overflow: auto;
  float: left;
  height: 50px;
  width: 50px;
  margin-right:5px;
}
img.logo2{
  overflow: auto;
  float: right;
  height: 100px;
  width: 100px;
}
.clear1{
  clear: right;
}
.help{
  background-color: red;
  cursor: help;
  padding: 20px;
  border-radius: 30px;
}
#span1{
  display: block;
}
.logindiv{
  width: 1px;
}
.loginfieldset{
  border-style: hidden;
}
li::before{
  content: '';
  float: left;
  margin-right: 5px;
  height: 24px;
  width: 20px;
  background-image: url('/Photo/404-tick.png');
  background-size: 20px;
  background-repeat: no-repeat;
}
.listservices{
  color: lightseagreen;
  text-shadow: 1px 1px rebeccapurple;
}
li{
  list-style: none;
  padding: 10px;
}